In [3]:
from time_series_expenses.prepare_data import monthly
monthly.head()

                 y         ds
Date
2021-10-01  659.76 2021-10-01
2021-11-01  840.82 2021-11-01
2021-12-01  378.26 2021-12-01
2022-01-01  825.94 2022-01-01
2022-02-01  551.60 2022-02-01